In [5]:
import pandas as pd
import cbpro
from datetime import date

In [6]:
c = cbpro.PublicClient()

In [11]:
from datetime import date

start_date = date(2019,7,1).isoformat()
end_date = date(2020,1,1).isoformat()

In [10]:
historical_eth_2019_7_2020_1 = pd.DataFrame(c.get_product_historic_rates('ETH-USD',granularity=86400, start=start_date, end=end_date))
historical_eth_2019_7_2020_1.columns= ["Date","Open","High","Low","Close","Volume"]
historical_eth_2019_7_2020_1['Date'] = pd.to_datetime(historical_eth_2019_7_2020_1['Date'], unit='s')
historical_eth_2019_7_2020_1.set_index('Date', inplace=True)
historical_eth_2019_7_2020_1.sort_values(by='Date', ascending=True, inplace=True)
display(historical_eth_2019_7_2020_1.head())
display(historical_eth_2019_7_2020_1.tail())

              Open    High     Low   Close         Volume
Date
2019-07-01  278.65  301.32  290.08  293.70  184839.745882
2019-07-02  270.42  296.24  293.72  291.25  221624.500522
2019-07-03  289.61  303.83  291.25  301.79  105705.705086
2019-07-04  280.10  304.00  301.77  282.80  100227.787263
2019-07-05  280.00  294.90  282.81  288.00  106439.568630

              Open    High     Low   Close        Volume
Date
2019-12-28  125.80  129.60  126.23  127.91  47036.687919
2019-12-29  127.22  137.85  127.95  134.30  64885.833509
2019-12-30  129.79  135.97  134.31  131.10  58811.727846
2019-12-31  127.60  133.19  131.08  128.54  85044.391886
2020-01-01  128.12  132.68  128.54  130.19  57512.495006