In [97]:
import pandas as pd
import cbpro
from datetime import date

In [98]:
c = cbpro.PublicClient()

In [104]:
from datetime import date

start_date = date(2019,7,1).isoformat()
end_date = date(2019,7,2).isoformat()

In [105]:
historical = pd.DataFrame(c.get_product_historic_rates('ETH-USD',granularity=300, start=start_date, end=end_date))
historical.columns= ["Date","Open","High","Low","Close","Volume"]
historical['Date'] = pd.to_datetime(historical['Date'], unit='s')
historical.set_index('Date', inplace=True)
historical.sort_values(by='Date', ascending=True, inplace=True)
display(historical.head())
display(historical.tail())

                       Open    High     Low   Close       Volume
Date
2019-07-01 00:00:00  288.00  291.20  290.08  288.18  1571.670614
2019-07-01 00:05:00  286.69  290.55  288.32  290.50  2555.752090
2019-07-01 00:10:00  289.50  293.54  290.50  292.48  2763.347967
2019-07-01 00:15:00  290.32  292.66  292.47  291.34  1462.253660
2019-07-01 00:20:00  290.81  292.53  291.23  291.16   917.931374

                       Open    High     Low   Close      Volume
Date
2019-07-01 23:40:00  292.92  293.94  293.71  293.11  178.998026
2019-07-01 23:45:00  293.01  294.63  293.17  294.14  419.830997
2019-07-01 23:50:00  293.63  294.35  294.07  294.15  396.646661
2019-07-01 23:55:00  293.37  294.16  294.16  293.70  313.261033
2019-07-02 00:00:00  293.57  295.55  293.72  295.29  538.474244