In [1]:
import pandas as pd
import cbpro
from datetime import date
import hvplot

In [2]:
c = cbpro.PublicClient()

In [3]:
def pull_historical_data(crypto_pair,crypto_start_date,crypto_end_date):
    pulled_data = pd.DataFrame(c.get_product_historic_rates(crypto_pair,granularity=86400, start=crypto_start_date, end=crypto_end_date))
    pulled_data.columns= ["Date","Open","High","Low","Close","Volume"]
    pulled_data['Date'] = pd.to_datetime(pulled_data['Date'], unit='s')
    pulled_data.set_index('Date', inplace=True)
    pulled_data.sort_values(by='Date', ascending=True, inplace=True)
    return(pulled_data)

In [4]:
start_date_eth_1 = date(2018,8,1).isoformat() 
end_date_eth_1 = date(2019,5,1).isoformat()

In [5]:
historical_eth_2018_8_2019_5 = pull_historical_data('ETH-USD', start_date_eth_1, end_date_eth_1)
display(historical_eth_2018_8_2019_5.head())
display(historical_eth_2018_8_2019_5.tail())

              Open    High     Low   Close        Volume
Date
2018-08-01  407.78  435.48  432.36  419.60  76974.230096
2018-08-02  407.29  424.61  419.59  410.71  43453.781875
2018-08-03  395.00  420.27  410.71  417.80  95200.116261
2018-08-04  401.00  419.16  417.80  407.00  37316.364304
2018-08-05  400.50  413.33  407.00  408.83  30585.810275

              Open    High     Low   Close        Volume
Date
2019-04-27  152.54  159.00  153.42  155.66  60998.930582
2019-04-28  152.16  156.45  155.73  153.19  50413.790601
2019-04-29  148.81  154.69  153.17  152.36  67927.039341
2019-04-30  152.32  161.20  152.40  160.40  98019.066232
2019-05-01  156.59  163.25  160.39  158.30  68430.608206

In [6]:
start_date_eth_2 = date(2019,5,2).isoformat()
end_date_eth_2 = date(2020,2,1).isoformat()

In [7]:
historical_eth_2019_5_2020_2 = pull_historical_data('ETH-USD', start_date_eth_2, end_date_eth_2)
display(historical_eth_2019_5_2020_2.head())
display(historical_eth_2019_5_2020_2.tail())

              Open    High     Low   Close         Volume
Date
2019-05-02  155.91  160.57  158.31  158.70   57673.512460
2019-05-03  157.61  169.26  158.70  164.74  119958.523156
2019-05-04  158.00  168.71  164.73  161.85  121207.981495
2019-05-05  157.28  163.40  161.93  161.25   76173.124149
2019-05-06  157.78  175.97  161.26  171.07  143496.627242

              Open    High     Low   Close         Volume
Date
2020-01-28  169.78  176.50  169.78  175.99  102264.174756
2020-01-29  173.13  178.31  175.91  173.45   85409.924074
2020-01-30  170.00  186.89  173.41  184.55  104426.473907
2020-01-31  175.00  185.68  184.52  179.74  108639.776625
2020-02-01  179.00  184.20  179.72  183.50   65650.168517

In [8]:
start_date_eth_3 = date(2020,2,2).isoformat()
end_date_eth_3 = date(2020,8,1).isoformat()

In [9]:
historical_eth_2020_2_2020_8 = pull_historical_data('ETH-USD', start_date_eth_3, end_date_eth_3)
display(historical_eth_2020_2_2020_8.head())
display(historical_eth_2020_2_2020_8.tail())

              Open    High     Low   Close         Volume
Date
2020-02-02  178.98  193.52  183.49  188.29   96138.844210
2020-02-03  186.25  195.21  188.22  189.42   89093.195956
2020-02-04  184.29  191.37  189.41  188.24   89059.714635
2020-02-05  186.89  207.93  188.25  204.00  143938.174660
2020-02-06  200.54  216.49  204.01  212.95  162316.436676

              Open    High     Low   Close         Volume
Date
2020-07-28  306.29  327.34  322.41  317.59  208395.560398
2020-07-29  312.66  325.85  317.52  318.16  166994.963337
2020-07-30  314.52  342.40  318.15  335.31  175330.876467
2020-07-31  328.35  349.74  335.25  346.86  199448.479788
2020-08-01  343.75  394.00  346.86  387.40  308505.500032

In [10]:
start_date_eth_4 = date(2020,8,2).isoformat()
end_date_eth_4 = date(2021,5,1).isoformat()

In [11]:
historical_eth_2020_8_2021_5 = pull_historical_data('ETH-USD', start_date_eth_4, end_date_eth_4)
display(historical_eth_2020_8_2021_5.head())
display(historical_eth_2020_8_2021_5.tail())

              Open    High     Low   Close         Volume
Date
2020-08-02  325.75  415.00  387.40  372.21  573146.544841
2020-08-03  366.34  399.69  372.19  386.22  246596.566659
2020-08-04  380.67  403.64  386.27  389.82  250989.954597
2020-08-05  383.86  408.00  389.76  401.21  208377.217726
2020-08-06  391.00  404.03  401.21  395.28  147321.255416

               Open     High      Low    Close         Volume
Date
2021-04-27  2484.56  2683.00  2533.99  2667.86  276539.989794
2021-04-28  2551.00  2762.59  2667.86  2751.59  388997.914930
2021-04-29  2672.00  2800.00  2751.56  2758.92  289566.940082
2021-04-30  2727.00  2800.00  2758.92  2776.45  203784.338685
2021-05-01  2757.28  2955.90  2776.76  2948.92  219121.323324

In [12]:
start_date_eth_5 = date(2021,5,2).isoformat()
end_date_eth_5 = date(2021,8,1).isoformat()

In [13]:
historical_eth_2021_5_2021_8 = pull_historical_data('ETH-USD', start_date_eth_5, end_date_eth_5)
display(historical_eth_2021_5_2021_8.head())
display(historical_eth_2021_5_2021_8.tail())

               Open     High      Low    Close         Volume
Date
2021-05-02  2855.29  2986.00  2948.92  2952.09  158755.451287
2021-05-03  2952.08  3457.75  2952.21  3433.99  552087.281125
2021-05-04  3166.12  3534.50  3433.99  3240.01  713308.429781
2021-05-05  3201.33  3550.00  3239.61  3529.97  466260.198113
2021-05-06  3381.11  3610.91  3529.96  3492.75  368967.136730

               Open     High      Low    Close         Volume
Date
2021-07-28  2245.10  2347.88  2300.28  2300.42  205833.211061
2021-07-29  2267.78  2399.99  2300.76  2383.32  172925.716680
2021-07-30  2317.51  2474.82  2383.47  2463.90  222140.744211
2021-07-31  2422.31  2555.00  2463.88  2533.74  134549.119743
2021-08-01  2511.50  2699.00  2533.54  2555.43  260742.060424

In [14]:
start_date_btc_1 = date(2018,8,1).isoformat()
end_date_btc_1 = date(2019,5,1).isoformat()

In [15]:
historical_btc_2018_8_2019_5 = pull_historical_data('BTC-USD',start_date_btc_1, end_date_btc_1)
display(historical_btc_2018_8_2019_5.head())
display(historical_btc_2018_8_2019_5.tail())

              Open     High      Low    Close        Volume
Date
2018-08-01  7437.0  7750.00  7727.28  7603.99  11853.490112
2018-08-02  7462.0  7707.54  7603.99  7533.92   6917.398384
2018-08-03  7285.0  7538.53  7533.92  7414.08  11084.852202
2018-08-04  6940.0  7495.00  7414.08  7005.00   9933.750310
2018-08-05  6880.0  7086.52  7005.00  7030.01   6243.599909

               Open     High      Low    Close       Volume
Date
2019-04-27  5117.46  5221.24  5159.50  5170.60  4268.747635
2019-04-28  5101.00  5214.50  5171.90  5155.00  4913.464656
2019-04-29  5072.01  5189.54  5155.00  5148.25  7338.234556
2019-04-30  5126.25  5285.00  5148.25  5270.69  7270.797212
2019-05-01  5265.61  5358.39  5270.68  5321.15  7327.285309

In [16]:
start_date_btc_2 = date(2019,5,2).isoformat()
end_date_btc_2 = date(2020,2,1).isoformat()

In [17]:
historical_btc_2019_5_2020_2 = pull_historical_data('BTC-USD', start_date_btc_2, end_date_btc_2)
display(historical_btc_2019_5_2020_2.head())
display(historical_btc_2019_5_2020_2.tail())

               Open     High      Low    Close        Volume
Date
2019-05-02  5306.09  5422.99  5321.15  5390.01   7324.974558
2019-05-03  5363.00  5796.93  5390.00  5657.40  19730.732192
2019-05-04  5512.00  5846.88  5657.41  5770.01  11070.844847
2019-05-05  5627.35  5782.22  5770.01  5715.86   5764.759266
2019-05-06  5564.93  5753.66  5715.86  5687.90   9144.018724

               Open     High      Low    Close        Volume
Date
2020-01-28  8880.87  9418.91  8895.95  9394.50  17578.540061
2020-01-29  9224.75  9439.83  9391.14  9288.44  12233.050639
2020-01-30  9171.11  9574.68  9287.90  9503.08  12948.397667
2020-01-31  9195.49  9522.50  9502.71  9334.98   9719.061315
2020-02-01  9285.01  9458.08  9334.98  9380.18   4387.419862

In [18]:
start_date_btc_3 = date(2020,2,2).isoformat()
end_date_btc_3 = date(2020,8,1).isoformat()

In [19]:
historical_btc_2020_2_2020_8 = pull_historical_data('BTC-USD', start_date_btc_3, end_date_btc_3)
display(historical_btc_2020_2_2020_8.head())
display(historical_btc_2020_2_2020_8.tail())

               Open     High      Low    Close        Volume
Date
2020-02-02  9140.00  9480.00  9380.18  9323.50   7307.922915
2020-02-03  9220.00  9619.95  9325.01  9280.49  11910.285730
2020-02-04  9078.05  9350.00  9280.49  9164.33   8190.748987
2020-02-05  9150.00  9769.70  9164.33  9613.82  13267.061937
2020-02-06  9521.47  9857.00  9613.91  9763.01  12672.136782

                Open      High       Low     Close        Volume
Date
2020-07-28  10575.00  11259.00  11048.05  10934.23  26011.375139
2020-07-29  10843.47  11350.00  10934.22  11110.12  18556.277943
2020-07-30  10811.00  11188.65  11108.16  11115.95  12408.704108
2020-07-31  10975.00  11460.00  11115.99  11351.62  15747.021750
2020-08-01  11237.82  11888.00  11351.61  11810.07  18293.125243

In [20]:
start_date_btc_4 = date(2020,8,2).isoformat()
end_date_btc_4 = date(2021,5,1).isoformat()

In [21]:
historical_btc_2020_8_2021_5 = pull_historical_data('BTC-USD', start_date_btc_4, end_date_btc_4)
display(historical_btc_2020_8_2021_5.head())
display(historical_btc_2020_8_2021_5.tail())

                Open      High       Low     Close        Volume
Date
2020-08-02  10546.15  12134.29  11810.07  11068.54  28118.429114
2020-08-03  10911.74  11486.60  11067.46  11233.13  13783.340374
2020-08-04  11006.16  11417.11  11233.16  11197.04  12074.478514
2020-08-05  11073.70  11798.87  11197.05  11756.75  16637.780821
2020-08-06  11580.19  11916.68  11756.75  11773.89  18053.081469

                Open      High       Low     Close        Volume
Date
2021-04-27  53321.00  55509.39  54047.80  55069.62  13957.086495
2021-04-28  53887.00  56476.17  55069.61  54894.03  16484.336777
2021-04-29  52369.61  55226.86  54889.81  53580.00  14592.316888
2021-04-30  53068.43  58075.01  53580.00  57798.77  16536.332889
2021-05-01  57050.94  58550.00  57798.77  57859.28  10787.049332

In [22]:
start_date_btc_5 = date(2021,5,2).isoformat()
end_date_btc_5 = date(2021,8,1).isoformat()

In [23]:
historical_btc_2021_5_2021_8 = pull_historical_data('BTC-USD', start_date_btc_5, end_date_btc_5)
display(historical_btc_2021_5_2021_8.head())
display(historical_btc_2021_5_2021_8.tail())

                Open      High       Low     Close        Volume
Date
2021-05-02  56072.00  57972.26  57859.28  56625.20   7647.625781
2021-05-03  56500.00  58986.00  56625.21  57212.73  15165.006488
2021-05-04  53057.70  57247.24  57212.73  53241.92  23492.058685
2021-05-05  52913.02  57980.86  53241.91  57515.69  22918.904586
2021-05-06  55288.00  58400.00  57515.69  56440.66  18244.136052

                Open      High       Low     Close        Volume
Date
2021-07-28  38803.34  40925.56  39475.99  40035.10  27198.333581
2021-07-29  39229.47  40644.85  40035.10  40039.44  11022.425128
2021-07-30  38342.00  42320.57  40039.44  42237.95  15063.234406
2021-07-31  41064.11  42414.61  42233.66  41495.01   9351.942886
2021-08-01  39426.00  42605.64  41499.00  39865.41  10617.672935

In [24]:
start_date_ltc_1 = date(2018,8,1).isoformat()
end_date_ltc_1 = date(2019,5,1).isoformat()

In [25]:
historical_ltc_2018_8_2019_5 = pull_historical_data('LTC-USD',start_date_ltc_1, end_date_ltc_1)
display(historical_ltc_2018_8_2019_5.head())
display(historical_ltc_2018_8_2019_5.tail())

             Open   High    Low  Close         Volume
Date
2018-08-01  75.97  79.07  78.88  77.64  131680.711349
2018-08-02  75.51  78.39  77.64  76.23  101324.475989
2018-08-03  75.00  77.80  76.23  77.60  118352.092482
2018-08-04  72.32  78.00  77.60  73.04  115870.138776
2018-08-05  72.41  74.71  73.03  74.65   70572.387407

             Open   High    Low  Close         Volume
Date
2019-04-27  70.19  71.83  71.68  70.55   72475.198168
2019-04-28  66.77  70.83  70.55  67.78  165526.545394
2019-04-29  64.86  68.36  67.74  66.55  126454.741448
2019-04-30  66.55  74.00  66.55  73.51  213434.931054
2019-05-01  71.00  74.90  73.52  72.52  148796.085479

In [26]:
start_date_ltc_2 = date(2019,5,2).isoformat()
end_date_ltc_2 = date(2020,2,1).isoformat()

In [27]:
historical_ltc_2019_5_2020_2 = pull_historical_data('LTC-USD', start_date_ltc_2, end_date_ltc_2)
display(historical_ltc_2019_5_2020_2.head())
display(historical_ltc_2019_5_2020_2.tail())

             Open   High    Low  Close         Volume
Date
2019-05-02  71.36  73.40  72.51  72.16   82014.906152
2019-05-03  71.94  79.87  72.20  77.72  216168.936126
2019-05-04  73.50  81.50  77.80  76.92  207124.690137
2019-05-05  74.40  77.33  77.00  74.79   85791.077565
2019-05-06  70.55  76.09  74.81  74.09  180125.489151

             Open   High    Low  Close         Volume
Date
2020-01-28  57.17  61.44  58.47  60.62  218236.199524
2020-01-29  59.32  62.40  60.62  59.62  215676.301552
2020-01-30  58.10  70.12  59.66  67.82  409353.586156
2020-01-31  65.22  69.80  67.84  67.96  262115.196138
2020-02-01  67.53  72.90  67.96  70.69  277993.803036

In [28]:
start_date_ltc_3 = date(2020,2,2).isoformat()
end_date_ltc_3 = date(2020,8,1).isoformat()

In [29]:
historical_ltc_2020_2_2020_8 = pull_historical_data('LTC-USD', start_date_ltc_3, end_date_ltc_3)
display(historical_ltc_2020_2_2020_8.head())
display(historical_ltc_2020_2_2020_8.tail())

             Open   High    Low  Close         Volume
Date
2020-02-02  67.64  73.33  70.69  69.82  242634.358493
2020-02-03  68.20  72.91  69.83  69.55  212427.374397
2020-02-04  66.51  70.46  69.59  67.84  152382.593987
2020-02-05  67.43  73.46  67.83  72.56  217673.047946
2020-02-06  70.92  75.00  72.59  73.45  220326.461816

             Open   High    Low  Close         Volume
Date
2020-07-28  51.71  57.99  53.39  55.86  565218.615584
2020-07-29  54.77  56.99  55.86  55.20  256964.954408
2020-07-30  53.92  59.14  55.20  56.82  311150.632766
2020-07-31  55.85  59.22  56.84  58.23  215041.086500
2020-08-01  57.64  62.36  58.21  61.72  393363.981602

In [30]:
start_date_ltc_4 = date(2020,8,2).isoformat()
end_date_ltc_4 = date(2021,5,1).isoformat()

In [31]:
historical_ltc_2020_8_2021_5 = pull_historical_data('LTC-USD', start_date_ltc_4, end_date_ltc_4)
display(historical_ltc_2020_8_2021_5.head())
display(historical_ltc_2020_8_2021_5.tail())

             Open   High    Low  Close         Volume
Date
2020-08-02  52.70  65.31  61.72  56.77  643179.888065
2020-08-03  55.72  60.10  56.80  58.54  268801.251238
2020-08-04  56.33  59.60  58.55  57.65  183754.760702
2020-08-05  56.73  59.92  57.65  58.97  207576.913870
2020-08-06  57.78  60.78  58.94  59.08  206942.357134

              Open    High     Low   Close         Volume
Date
2021-04-27  243.81  264.00  247.60  259.96  393941.155911
2021-04-28  248.51  267.00  259.99  258.81  428097.525907
2021-04-29  248.75  262.99  258.79  255.51  323987.788660
2021-04-30  252.74  273.87  255.50  271.59  359881.279951
2021-05-01  266.17  278.71  271.60  277.00  271898.399407

In [32]:
start_date_ltc_5 = date(2021,5,2).isoformat()
end_date_ltc_5 = date(2021,8,1).isoformat()

In [33]:
historical_ltc_2021_5_2021_8 = pull_historical_data('LTC-USD', start_date_ltc_5, end_date_ltc_5)
display(historical_ltc_2021_5_2021_8.head())
display(historical_ltc_2021_5_2021_8.tail())

              Open    High     Low   Close        Volume
Date
2021-05-02  265.00  277.64  277.02  269.10  2.365929e+05
2021-05-03  268.64  299.71  269.10  294.91  5.502937e+05
2021-05-04  271.03  327.91  294.91  305.50  1.214735e+06
2021-05-05  300.98  360.00  305.43  356.43  1.281044e+06
2021-05-06  320.00  365.20  356.50  354.44  9.069055e+05

              Open    High     Low   Close         Volume
Date
2021-07-28  132.43  142.07  134.75  140.47  286528.358637
2021-07-29  136.63  143.00  140.48  141.52  177678.619026
2021-07-30  135.92  145.93  141.57  145.62  192035.387504
2021-07-31  141.95  146.68  145.61  144.43  130109.558817
2021-08-01  138.14  149.87  144.46  140.28  187796.353029

In [34]:
eth_merge = [historical_eth_2018_8_2019_5, historical_eth_2019_5_2020_2, historical_eth_2020_2_2020_8, historical_eth_2020_8_2021_5, historical_eth_2021_5_2021_8]
eth_historic_data_combined = pd.concat(eth_merge)
display(eth_historic_data_combined.head())
display(eth_historic_data_combined.tail())

              Open    High     Low   Close        Volume
Date
2018-08-01  407.78  435.48  432.36  419.60  76974.230096
2018-08-02  407.29  424.61  419.59  410.71  43453.781875
2018-08-03  395.00  420.27  410.71  417.80  95200.116261
2018-08-04  401.00  419.16  417.80  407.00  37316.364304
2018-08-05  400.50  413.33  407.00  408.83  30585.810275

               Open     High      Low    Close         Volume
Date
2021-07-28  2245.10  2347.88  2300.28  2300.42  205833.211061
2021-07-29  2267.78  2399.99  2300.76  2383.32  172925.716680
2021-07-30  2317.51  2474.82  2383.47  2463.90  222140.744211
2021-07-31  2422.31  2555.00  2463.88  2533.74  134549.119743
2021-08-01  2511.50  2699.00  2533.54  2555.43  260742.060424

In [35]:
btc_merge = [historical_btc_2018_8_2019_5, historical_btc_2019_5_2020_2, historical_btc_2020_2_2020_8, historical_btc_2020_8_2021_5, historical_btc_2021_5_2021_8]
btc_historic_data_combined = pd.concat(btc_merge)
display(btc_historic_data_combined.head())
display(btc_historic_data_combined.tail())

              Open     High      Low    Close        Volume
Date
2018-08-01  7437.0  7750.00  7727.28  7603.99  11853.490112
2018-08-02  7462.0  7707.54  7603.99  7533.92   6917.398384
2018-08-03  7285.0  7538.53  7533.92  7414.08  11084.852202
2018-08-04  6940.0  7495.00  7414.08  7005.00   9933.750310
2018-08-05  6880.0  7086.52  7005.00  7030.01   6243.599909

                Open      High       Low     Close        Volume
Date
2021-07-28  38803.34  40925.56  39475.99  40035.10  27198.333581
2021-07-29  39229.47  40644.85  40035.10  40039.44  11022.425128
2021-07-30  38342.00  42320.57  40039.44  42237.95  15063.234406
2021-07-31  41064.11  42414.61  42233.66  41495.01   9351.942886
2021-08-01  39426.00  42605.64  41499.00  39865.41  10617.672935

In [36]:
ltc_merge = [historical_ltc_2018_8_2019_5, historical_ltc_2019_5_2020_2, historical_ltc_2020_2_2020_8, historical_ltc_2020_8_2021_5, historical_ltc_2021_5_2021_8]
ltc_historic_data_combined = pd.concat(ltc_merge)
display(ltc_historic_data_combined.head())
display(ltc_historic_data_combined.tail())

             Open   High    Low  Close         Volume
Date
2018-08-01  75.97  79.07  78.88  77.64  131680.711349
2018-08-02  75.51  78.39  77.64  76.23  101324.475989
2018-08-03  75.00  77.80  76.23  77.60  118352.092482
2018-08-04  72.32  78.00  77.60  73.04  115870.138776
2018-08-05  72.41  74.71  73.03  74.65   70572.387407

              Open    High     Low   Close         Volume
Date
2021-07-28  132.43  142.07  134.75  140.47  286528.358637
2021-07-29  136.63  143.00  140.48  141.52  177678.619026
2021-07-30  135.92  145.93  141.57  145.62  192035.387504
2021-07-31  141.95  146.68  145.61  144.43  130109.558817
2021-08-01  138.14  149.87  144.46  140.28  187796.353029

In [38]:
crypto_historic_data = pd.concat([btc_historic_data_combined, eth_historic_data_combined, ltc_historic_data_combined], axis= 1)

In [39]:
crypto_historic_data.head()

,Open,High,Low,Close,Volume,Open,High,Low,Close,Volume,Open,High,Low,Close,Volume
Date,,,,,,,,,,,,,,,
2018-08-01,7437.0,7750.00,7727.28,7603.99,11853.490112,407.78,435.48,432.36,419.60,76974.230096,75.97,79.07,78.88,77.64,131680.711349
2018-08-02,7462.0,7707.54,7603.99,7533.92,6917.398384,407.29,424.61,419.59,410.71,43453.781875,75.51,78.39,77.64,76.23,101324.475989
2018-08-03,7285.0,7538.53,7533.92,7414.08,11084.852202,395.00,420.27,410.71,417.80,95200.116261,75.00,77.80,76.23,77.60,118352.092482
2018-08-04,6940.0,7495.00,7414.08,7005.00,9933.750310,401.00,419.16,417.80,407.00,37316.364304,72.32,78.00,77.60,73.04,115870.138776
2018-08-05,6880.0,7086.52,7005.00,7030.01,6243.599909,400.50,413.33,407.00,408.83,30585.810275,72.41,74.71,73.03,74.65,70572.387407

In [44]:
columns = ['Btc_Open', 'Btc_High', 'Btc_Low', 'Btc_Close',	'Btc_Volume', 'Eth_Open', 'Eth_High', 'Eth_Low', 'Eth_Close', 'Eth_Volume',	'Ltc_Open',	'Ltc_High', 'Ltc_low', 'Ltc_Close', 'Ltc_Volume']

In [45]:
crypto_historic_data.columns = columns

In [46]:
crypto_historic_data.head()

,Btc_Open,Btc_High,Btc_Low,Btc_Close,Btc_Volume,Eth_Open,Eth_High,Eth_Low,Eth_Close,Eth_Volume,Ltc_Open,Ltc_High,Ltc_low,Ltc_Close,Ltc_Volume
Date,,,,,,,,,,,,,,,
2018-08-01,7437.0,7750.00,7727.28,7603.99,11853.490112,407.78,435.48,432.36,419.60,76974.230096,75.97,79.07,78.88,77.64,131680.711349
2018-08-02,7462.0,7707.54,7603.99,7533.92,6917.398384,407.29,424.61,419.59,410.71,43453.781875,75.51,78.39,77.64,76.23,101324.475989
2018-08-03,7285.0,7538.53,7533.92,7414.08,11084.852202,395.00,420.27,410.71,417.80,95200.116261,75.00,77.80,76.23,77.60,118352.092482
2018-08-04,6940.0,7495.00,7414.08,7005.00,9933.750310,401.00,419.16,417.80,407.00,37316.364304,72.32,78.00,77.60,73.04,115870.138776
2018-08-05,6880.0,7086.52,7005.00,7030.01,6243.599909,400.50,413.33,407.00,408.83,30585.810275,72.41,74.71,73.03,74.65,70572.387407

In [ ]:
crypto_historic_data.hvplot